.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
}